<%- include('partials/header.ejs') -%>
<body>
    <%- include('partials/navbar.ejs') -%>
    <div>
        <h3>Welcome <%= username %></h3>
    </div>
    <!-- <br><br>
    <div>
        <a href="/admin/adddonor"><button>Add Donor</button></a>
        <a href="/admin/addrequirement"><button>Add Requirement</button></a>
        <a href="/admin/addhospital"><button>Add Hospital</button></a>
        <a href="/admin/closedrequirements"><button>Closed Requirements</button></a>
    </div> -->
    <br>
    <h3>Requirements</h3>
    <div>
        <table width="100%">
            <tr>
                <th>Patient Name</th>
                <th>Bystander</th>
                <th>Blood Group</th>
                <th>No. of units</th>
                <th>Donors Assigned</th>
            </tr>
            <% requirements.forEach(requirement => { %>
                <% if(!requirement.closed) { %>
                    <tr>
                        <td><%= requirement.patient_name %></td>
                        <td><%= requirement.by_stander %></td>
                        <td><%= requirement.blood_group %></td>
                        <td><%= requirement.quantity %></td>
                        <td><%= requirement.donors_assigned %></td>
                        <td><a href="/admin/<%= requirement.requirement_id %>/assigndonor"><button>Assign Donor</button></a></td>
                        <td><a href="/admin/<%= requirement.requirement_id %>/close"><button>Close Requirement</button></a></td>
                        <td><a href="/admin/<%= requirement.requirement_id %>/details"><button>See Donors</button></a></td>
                    </tr>
                <% } %>               
            <% }) %>
        </table>                   
    </div>
</body>