<%- include('partials/header.ejs') -%>
<body>
    <%- include('partials/navbar.ejs') -%>

    <div>
        <h3>Closed Requirements</h3>
    </div>
    <div>
        <table width="100%">
            <tr>
                <th>Patient Name</th>
                <th>Bystander</th>
                <th>Blood Group</th>
                <th>No. of units</th>
            </tr>
            <% requirements.forEach(requirement => { %>
                    <tr>
                        <td><%= requirement.patient_name %></td>
                        <td><%= requirement.by_stander %></td>
                        <td><%= requirement.blood_group %></td>
                        <td><%= requirement.quantity %></td>
                        <td><a href="/admin/<%= requirement.requirement_id %>/details"><button>Details</button></a></td>
                    </tr>             
            <% }) %>
        </table>                   
    </div>
    <%- include('partials/footer.ejs') -%>
</body>