<%- include('partials/header.ejs') -%>
<body>
    <%- include('partials/navbar.ejs') -%>
    <div>
        <form action="/admin/donors/<%= donor.donor_id %>/edit" onsubmit="return checkPhoneNo()" method="POST">
            <div>
                <label for="universityRegNO">University Register No. : </label>
                <input type="text" name="universityRegNO" value="<%= donor.university_reg_no %>">
            </div>
            <div>
                <label for="name">Name : </label>
                <input type="text" name="name" id="name" value="<%= donor.name %>" required>
            </div>
            <div>
                <label for="admissionYear">Year Of Admission : </label>
                <select name="admissionYear" id="admissionYear" required>
                    <option value="<%= donor.year_of_admission %>" selected><%= donor.year_of_admission %></option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                </select>
            </div>
            <div>
                <label for="dept">Department : </label>
                <select name="dept" id="dept">
                    <option value="<%= donor.dept %>" selected><%= donor.dept %></option>
                    <option value="Computer Science">Computer Sience</option>
                    <option value="Electronics and Communication">Electronics and Communication</option>
                    <option value="Civil Engineering">Civil Engineering</option>
                    <option value="Electrical and Electronics">Electrical and Electronics</option>
                    <option value="Mechanical">Mechanical</option>
                    <option value="Architecture">Architecture</option>
                    <option value="MCA">MCA</option>
                    <option value="Applied Electronics">Applied Electronics</option>
                    <option value="Industrial Engineering">Industrial Engineering</option>
                </select>
            </div>
            <div>
                <label for="phoneNo">Contact No : </label>
                <input type="text" name="phoneNo" id="phoneNo" value="<%= donor.phone_no %>" required>
            </div>
            <div>
                <label for="email">Email : </label>
                <input type="email" name="email" id="email" value="<%= donor.mail_id %>">
            </div>
            <div>
                <label for="bloodGroup">Blood Group : </label>
                <select name="bloodGroup" id="bloodGroup">
                    <option value="<%= donor.blood_group %>" selected ><%= donor.blood_group %></option>
                    <option value="A+ve">A+ve</option>
                    <option value="A-ve">A-ve</option>
                    <option value="B+ve">B+ve</option>
                    <option value="B-ve">B-ve</option>
                    <option value="AB+ve">AB+ve</option>
                    <option value="AB-ve">AB-ve</option>
                    <option value="O+ve">O+ve</option>
                    <option value="O-ve">O-ve</option>
                </select>
            </div>
            <div>
                <label for="height">Height : </label>
                <input type="number" name="height" id="" value="<%= donor.height %>" >cm
            </div>
            <div>
                <label for="weight">Weight : </label>
                <input type="number" name="weight" id="" value="<%= donor.weight %>" >kg
            </div>
            <div>
                <label for="lastDonation">Date of Last Donation : </label>
                <input type="date" name="lastDonation" id="name" value="<%= donor.last_donation.toJSON().slice(0,10).replace(/-/g,'-') %>">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    <script lang="javascript">
        function checkPhoneNo() {
            let phoneNo = document.getElementById("phoneNo").value;

            if(phoneNo.length < 10) {
                alert('Enter a valid phone no.!!!');
                return false;
            }
            
            for(let i = 0; i <= phoneNo.length; i++) {
                let currChar = phoneNo.charAt(i);
                if(isNaN(currChar) && currChar != ' ') {
                    alert('Enter valid phone no.!!!');
                    return false;
                }
            }
            return true;
        }
    </script>
    <%- include('partials/footer.ejs') -%>
</body>