<%- include('partials/header.ejs') -%>  

<body>
    <%- include('partials/navbar.ejs') -%>
    <table width="100%">
        <tr>
            <th>Hospital</th>
            <th>Street Adress</th>
            <th>Land Mark</th>
            <th>Contact No.</th>
        </tr>
        <% hospitals.forEach(hospital => { %>
            <td><%= hospital.name %></td>
            <td><%= hospital.street_address %></td>
            <td><%= hospital.landmark %></td>
            <td><%= hospital.contact_no %></td>
            <td><a href="/admin/hospitals/<%= hospital.name %>/edit"><button>Edit</button></a></td>
        <% }) %>
    </table>
    <%- include('partials/footer.ejs') -%>
</body>