<%- include('partials/header.ejs') -%>
<body>
    <%- include('partials/navbar.ejs') -%>

    <h3>Requirement</h3>
    <div>
        Patient Name : <%= requirement.patient_name %> <br>
        Bystander Name : <%= requirement.by_stander %> <br>
        Blood Group : <%= requirement.blood_group %> <br>
        No. of units : <%= requirement.quantity %>
        Requirement Type : <%= requirement.type_of_requirement %> <br>
        Hospital : <%= requirement.hospital %> <br>
        Contact No : <%= requirement.contact_no %> <br>
        Date : <%= requirement.data %> <br><br>
        Donors : <br>
        <ol>
            <% donors.forEach(donor => { %>
                <li>
                    <div>
                        Name : <%= donor.name %> <br>
                        Year of Admission : <%= donor.year_of_admission %> <br>
                        Department : <%= donor.dept %> <br>
                        Phone No : <%= donor.phone_no%> <br>
                    </div>
                </li>
                <br>
            <% }) %>
        </ol>
    </div>
    <% if(!requirement.closed) { %>
        <div>
            <a href="/admin/<%= requirement.requirement_id %>/assigndonor"><button> Assign Donor</button></a>
            <a href="/admin/<%= requirement.requirement_id %>/close"><button>Close</button></a>
        </div>
    <% } %>

</body>