<%- include('partials/header.ejs') -%>
<body>
    <%- include('partials/navbar.ejs') -%>

    <h3>Requirement</h3>
    <div>
        Patient Name : <%= requirement.patient_name %> <br>
        Bystander Name : <%= requirement.by_stander %> <br>
        Blood Group : <%= requirement.blood_group %> <br>
        No. of units : <%= requirement.quantity %>
        Requirement Type : <%= requirement.type_of_requirement %> <br>
        Hospital : <%= requirement.hospital %> <br>
        Contact No : <%= requirement.contact_no %> <br>
        Date : <%= requirement.data %> <br><br>
        Donors : <br>
        <table width="100%">
            <tr>
                <th>Name</th>
                <th>Year Of Admission</th>
                <th>Department</th>
                <th>Phone No.</th>
            </tr>
            <% donors.forEach(donor => { %>
                <td><%= donor.name %></td>
                <td><%= donor.year_of_admission %></td>
                <td><%= donor.dept %></td>
                <td><%= donor.phone_no%></td>
                <td><a href="deletedonor/<%= donor.donor_id %>"><button>Delete</button></a></td>
            <% }) %>

        </table>
    </div>
</body>